body{
    padding: 20px;
}
div.dataTables_wrapper {
    margin-bottom: 3em;
    /* width: 800px; */
    /* margin: 0 auto; */
}
.strike{
    text-decoration: line-through;
}
.strike1{
    text-decoration: line-through;
}
th, td { white-space: nowrap; }
a.buttons-collection {
    margin-left: 1em;
}
.filter{
margin-bottom: 30px !important;
display: none;
}
.filter1{
    margin-bottom: 30px !important;
    display: none;
}
#btnGo,#btnGo1{
    margin-top: 20px;
}
@media (max-width:1200px){
    .set{
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #btnGo,#btnGo1{
        margin-top: 10px;
    }
}
